@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.new-board-form {
  margin: auto;
}

.new-pin-form {
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
}


input {
  max-width: 60%
  margin 10px;
}

#new-pin-entry {
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  background-color: slateblue;
}

.hide {
  display: none;
}

.pin-img {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
}

.add-new-board-button-container {
  text-align: center;
  margin: 10px;
}

.selected-board-header{
  text-align: center;
  margin: 10px;
}

.board-pins {
  margin: 10px;
}

#all-boards {
  margin: 10px;
  text-align: center;
  button {
    margin: 10px;
    padding: 10px;
  }
  #board-name {
    font-size: 50px;
    font-weight: bolder;
  }
}

.all-boards-title {
  font-size: 100px;
}

#new-board-entry {
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hide-2 {
  display: none;
}

footer {
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  padding: 20px;
  margin-top: 30px;
}
